@page "/details"
@using WebPortal.Data
@using WebPortal.Services
@inject NavigationManager Navigate
@inherits OwningComponentBase<StudentService>
@rendermode InteractiveServer

<PageTitle>Student Details</PageTitle>
<script async src="scripts/details.js"></script>

<div id="sidebar-div" class="sidebar-div">
	<div id="search-div" class="">
		<EditForm Model="searchObj" FormName="search-bar-form" id="search-bar-form" OnValidSubmit="search"
			style="display: flex; width: 100%; height: 10%; justify-content: center; align-items: center;">
		<input type="text" name="dept" id="dept-search" placeholder="Department Name" @bind="searchObj.searchStr">
		<button type="submit" id="search-btn">
			<img src="images/search.svg" alt="Search Icon" style="height: 70%; width: 70%; aspect-ratio: 1/1;">
		</button>
		</EditForm>

		<div id="result-div">
			@foreach(var item in searchRes)
			{
				<div id="result">@item.name</div>
			}
		</div>
	</div>
	<button class="side-open-btn" onclick="toggleSidebar()">
		<img id="nav-icon" src="images/right.svg" alt="Open" />
	</button>
</div>

<div id="popup-back-div">
	<div id="popup-div">
		<img src="images/close.svg" alt="Close icon" id="close-popup"/>
		<EditForm Model="popupClass" FormName="EditForm" OnValidSubmit="editFormSubmit"
		style="display: flex; justify-content: center; align-items: center;
				width: 100%; height: 100%; flex-direction: column; row-gap: 4%;"
		>
			<div class="edit-input">
				<label>Name: </label>
				<input type="text" @bind="popupClass.name" />
			</div>
			<div class="edit-input">
				<label>Course: </label>
				<input type="text" @bind="@popupClass.course" />
			</div>
			<div class="edit-input">
				<label>Semester: </label>
				<input type="number" @bind="@popupClass.semester" />
			</div>
			<div class="edit-input">
				<label>CGPA: </label>
				<input type="number" @bind="@popupClass.cgpa" step="0.01" />
			</div>
			<div class="edit-input">
				<label>DOB: </label>
				<input type="date" @bind="@popupClass.dob" />
			</div>
			<div class="edit-input">
				<label>Hometown: </label>
				<input type="text" @bind="@popupClass.hometown" />
			</div>
			<div class="edit-input">
				<label>Dept-ID: </label>
				<input type="number" @bind="@popupClass.dept_id" />
			</div>
			
			<button type="submit" id="edit-form-btn">Save Changes</button>
		</EditForm>
	</div>
</div>

<div id="detail-container">
	<div id="top-nav-div"> 
		<div id="spacer-div"></div>
		@if (stdDet != null)
		{
			<div id="top-profile-div">
				<div id="profile-pic-div">
					<img src="@imgUrl" alt="Profile Picture" id="profile-pic">
				</div>

				<div class="dropdown">
					<p id="dropbtn">@stdDet.username</p>
					<div class="dropdown-content">
						<button @onclick="logout">Logout</button>
						<button @onclick="delete" style="color: red;">Delete Account</button>
					</div>
				</div>
			</div>
		}		
	</div>
	
	<div id="content-div">
		@if (stdDet != null)
		{
			
		<div class="card">
			<div class="profile-section">
				<div class="profile-image">
					<img src="@imgUrl" alt="Student Photo">
				</div>
				<div class="basic-details">
					<div id="detail-name-div">
						<h1>@stdDet.name</h1>
							<div id="detail-edit-div">
								<img src="images/edit.svg" alt="Alternate Text" id="detail-edit-icon" />
							</div>
					</div>
					@if(stdDet.course != null)
					{
						<p><strong>Course:</strong> @stdDet.course</p>
					}
					@if (stdDet.dept_id != null)
					{
						<p><strong>Department: </strong> @Service.getDeptName(stdDet.dept_id).dept_name</p>
					}
				</div>
			</div>
			<div class="details-section">
				<div class="personal-details">
					@if (stdDet.dob != null || stdDet.hometown != null || stdDet.dob != null)
					{
						<h2>Personal Details</h2>
					}
					@if (stdDet.username != null)
					{
						<p><strong>Username:</strong> @stdDet.username</p>
					}
					@if(stdDet.dob != null)
					{
						<p><strong>Date of Birth:</strong> @stdDet.dob</p>
					}
					@if (stdDet.hometown != null)
					{
						<p><strong>Address:</strong> @stdDet.hometown</p>
					}
				</div>
				<div class="academic-records">
					@if (stdDet.cgpa != null || stdDet.semester != null || stdDet.course != null || stdDet.dept_id != null)
					{
						<h2>Academic Details</h2>
					}
					@if (stdDet.course != null)
					{
						<p><strong>Course:</strong> @stdDet.course</p>
					}
					@if (stdDet.cgpa != null)
					{		
						<p><strong>CGPA:</strong> @stdDet.cgpa</p>
					}
					@if (stdDet.dept_id != null)
					{
						<p><strong>Department: </strong> @Service.getDeptName(stdDet.dept_id).dept_name</p>
					}
					@if (stdDet.semester != null)
					{
						int? sem = stdDet.semester;

						switch(sem)
						{
							case 1:
							{
								<p><strong>Semester:</strong> 1st Semester</p>
								break;
							}
							case 2:
							{
								<p><strong>Semester:</strong> 2nd Semester</p>
								break;
							}
							case 3:
							{
								<p><strong>Semester:</strong> 3rd Semester</p>
								break;
							}
							default:
							{
								<p><strong>Semester:</strong> @(@sem)th Semester</p>
								break;
							}
						}
						}
				</div>
				@*

				<div class="extracurricular">
					<h2>Extracurricular Activities</h2>
					<ul>
						<li>Soccer Team Captain</li>
						<li>Member of Science Club</li>
						<li>Volunteer at Local Shelter</li>
						<li>Debate Club President</li>
					</ul>
				</div>
				*@
			</div>
		</div>
		}
	</div>
</div>

@code {
	StudentClass? stdDet = null;
	DepartmentClass? deptObj = null;
	SearchClass? searchObj = new SearchClass();
	StudentClass? popupClass = new StudentClass();
	IList<StudentClass>? searchRes = new List<StudentClass>();
	string imgUrl = "";

	protected override void OnInitialized()
	{
		int id = Service.getLoggedUser();
		if (id != 0)
		{
			stdDet = Service.getStudentDetails(id);

			popupClass.id = stdDet.id;
			popupClass.name = stdDet.name;
			popupClass.username = stdDet.username;
			popupClass.course = stdDet.course;
			popupClass.semester = stdDet.semester;
			popupClass.cgpa = stdDet.cgpa;
			popupClass.dob = stdDet.dob;
			popupClass.hometown = stdDet.hometown;
			popupClass.password = stdDet.password;
			popupClass.dept_id = stdDet.dept_id;
			popupClass.is_logged = stdDet.is_logged;

			if(stdDet.dept_id != null)
			{
				deptObj = Service.getDeptName(stdDet.dept_id);
			}
			imgUrl = $"images/{stdDet.id}.jpg";
		}
		else
		{
			Navigate.NavigateTo("/error");
		}
	}

	void logout()
	{
		Service.toggleLoggedStatus(stdDet);
		Navigate.NavigateTo("/login");
	}

	void delete()
	{
		Service.deleteStudent(stdDet);
		Navigate.NavigateTo("/login");
	}

	void search()
	{
		searchRes = Service.deptSearchResults(searchObj.searchStr);
	}

	void editFormSubmit()
	{
		Service.updateDetails(popupClass);
		stdDet = popupClass;
	}

	public class SearchClass
	{
		public string? searchStr;
	}
}