@page "/details"
@using WebPortal.Data
@using WebPortal.Services
@inject NavigationManager Navigate
@inherits OwningComponentBase<StudentService>
@rendermode InteractiveServer

<PageTitle>Student Details</PageTitle>
<link rel="stylesheet" href="styles/details.css">
<script async src="scripts/details.js"></script>

<div id="sidebar-div" class="sidebar-div">
	<button onclick="toggleSidebar()">lies</button>
</div>

<div id="detail-container">
	<div id="top-nav-div">
		<div id="search-div">
			<input type="text" name="dept" id="dept-search" placeholder="Department Name">
			<button id="search-btn">
				<img src="images/search.svg" alt="Search Icon" style="height: 70%; width: 70%; aspect-ratio: 1/1;">
			</button>
		</div> 
		@if (stdDet != null)
		{
			<div id="top-profile-div">
				<div id="profile-pic-div">
					<img src="@imgUrl" alt="Profile Picture" id="profile-pic">
				</div>

				<div class="dropdown">
					<p id="dropbtn">@stdDet.username</p>
					<div class="dropdown-content">
						<button @onclick="logout">Logout</button>
					</div>
				</div>
			</div>
		}		
	</div>

	<div id="content-div">
		@if (stdDet != null)
		{
			
		<div class="card">
			<div class="profile-section">
				<div class="profile-image">
					<img src="@imgUrl" alt="Student Photo">
				</div>
				<div class="basic-details">
					<h1>@stdDet.name</h1>
					<p><strong>Course:</strong> @stdDet.course</p>
				</div>
			</div>
			<div class="details-section">
				<div class="personal-details">
					<h2>Personal Details</h2>
					<p><strong>Date of Birth:</strong> @stdDet.dob</p>
					<p><strong>Address:</strong> @stdDet.hometown</p>
				</div>
				<div class="academic-records">
					<h2>Academic Records</h2>
					<p><strong>CGPA:</strong> @stdDet.cgpa</p>
				</div>
				<div class="extracurricular">
					<h2>Extracurricular Activities</h2>
					<ul>
						<li>Soccer Team Captain</li>
						<li>Member of Science Club</li>
						<li>Volunteer at Local Shelter</li>
						<li>Debate Club President</li>
					</ul>
				</div>
			</div>
		</div>
		}
	</div>
</div>

@code {
	StudentClass? stdDet = null;
	StudentClass obj = new StudentClass();
	string imgUrl = "";

	protected override void OnInitialized()
	{
		int id = Service.getLoggedUser();
		if (id != 0)
		{
			stdDet = Service.getStudentDetails(id);
			imgUrl = $"images/{stdDet.id}.jpg";
		}
		else
		{
			Navigate.NavigateTo("/error");
		}
	}

	void logout()
	{
		Service.toggleLoggedStatus(stdDet);
		Navigate.NavigateTo("/login");
	}
}